.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
        background-color: bisque;
}